<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <img ng-src="{{item.image}}" class="md-card-image" alt="{{item.name}}">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Nuevo producto</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="column" class="md-block">
        <md-input-container>
          <md-button class="md-raised" aria-label="Subir imagen" md-ripple-size="auto">Subir Imagen</md-button>
        </md-input-container>
        <md-input-container>
          <label>Nombre</label>
          <input type="text" ng-model="newItem.name">
        </md-input-container>
        <md-input-container>
          <label>Descripción</label>
          <input type="text" ng-model="newItem.description">
        </md-input-container>
        <md-input-container>
          <label>Cantidad</label>
          <input type="text" ng-model="newItem.stock">
        </md-input-container>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>Cancelar</md-button>
        <md-button>Aceptar</md-button>
      </md-card-actions>
    </md-card>
  </div>
</md-content>
