



<section class="md-container">
  <md-content layout-padding flex>
    <strong>Plataforma de administración - Electrolab</strong>
  </md-content>
  <form name="LoginForm" ng-submit="toggleSignIn()">
    <p>Por favor digite su email y contraseña para acceder</p>
    
    <md-input-container>
      <label>Email</label>
      <input type="text" name="email" ng-model="user.email" required>
      <div ng-messages="LoginForm.email.$error">
        <div ng-message="email">No es un email valido</div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input type="password" name="pass" ng-model="user.pass" required>
    </md-input-container>

    <!-- <input style="display:inline;width:auto;" type="text" id="email" name="email" placeholder="Email"/>
    <input style="display:inline;width:auto;" type="password" id="password" name="password" placeholder="Password"/> -->
    <br/><br/>
    <md-button type="submit" class="md-raised md-primary" aria-label="login" id="quickstart-sign-in" >Entrar</md-button>
    <!-- <button disabled class="mdl-button mdl-js-button mdl-button--raised" id="quickstart-sign-in" name="signin">Sign In</button> -->
<!--         <button class="mdl-button mdl-js-button mdl-button--raised" id="quickstart-sign-up" name="signup">Sign Up</button>
    <button class="mdl-button mdl-js-button mdl-button--raised" disabled id="quickstart-verify-email" name="verify-email">Send Email Verification</button>
    <button class="mdl-button mdl-js-button mdl-button--raised" id="quickstart-password-reset" name="verify-email">Send Password Reset Email</button> -->

  </form>
</section>
